<div style="background-color:#f9f9f9; padding:20px 10px">
    <h1 style="color:#222">RESET YOUR PASSWORD</h1>
    <p style="color:#222">
        Hai, {{ thisCustomer.user_customer_nama }}. Sillahkan klik link dibawah ini untuk reset password kamu :)) 
    </p>
    <br>
    <a href="https://api.calibrapps-lab.site/api/auth/customer-reset-password/{{accessToken.token}}" style="background-color:#090057; text-decoration:none; text-align:center; padding:10px; border-radius:5px; color:#fff">Reset Password!</a>
</div>